@media screen and (min-width: 320px) and (max-width: 576px) {
    .nav-container {
        padding: 60px 0;
    }
    .nav-main {
        flex-direction: column;
    }
    .nav-right {
        flex-direction: column;
        margin-top: 35px;
        gap: 18px;
    }
    /* banner section */
    .header-main {
        flex-direction: column-reverse;
    }
    .header-left {
        height: 445px;
        width: 95%;
        padding: 80px 60px;
    }
    .text-goat {
        font-size: 3.5em;
    }
    .goat-overlay{
        top: 15%;
    }
    .text-play {
        font-size: 2.5rem;
    }
    .lightblue-btn{
        margin-top: 10px;
    }
    .header-right{
        width: auto;
        padding: 0 60px;
    }
    /* gamer section */
    .we-gamer {
        flex-direction: column;
        padding: 0px 0;
    }
    .we-gamer-left {
        width: auto;
        padding: 0 20px;
    }
    .we-gamer-right {
        width: auto;
        text-align: center;
        padding: 0 50px;
    }
    .gamer-tittle-overlay{
        top: -1%;
        right: 21%;
    }
}