/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font family */
/* font-family: "Work Sans", serif; */
/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
}
.common-tittle-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.437);
}
.hide{
    display: none;
}
/* nav section start here */
.nav-container{
    padding: 30px 0;
    box-shadow: 0 4px 4px rgb(248,248,248);
}
.nav-main{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.nav-left{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 2.25em;
    font-weight: 700;
    cursor: pointer;
}
.nav-right{
    cursor: pointer;
    display: flex;
}
.nav-btn{
    border: none;
    background-color: transparent;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.btn-follow{
    margin-right: 0;
    background-color: rgb(231,230,233);
    padding: 10px 25px;
    border-radius: 6px;
}
.btn-follow i{
    font-size: 22px;
}
/* nav section end here */
/* main section start here */
header,main{
    max-width: 1140px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
/* main section end here */
/* banner section start here */
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .header-bg{
    background-image: url("../resources/Group\ 14.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    height: 54px;
    width: 50%;
} */
.header-left{
    width: 50%;
    padding-top: 120px;
    height: 545px;
    padding-left: 120px;
    background-image: url("../resources/Group\ 14.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-right{
    width: 50%;
    /* border: 1px solid red; */
    
}
.header-right img{
    width: 100%;
}
.text-play{
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
}
.text-goat{
    font-size: 4.5em;
    font-weight: 800;
    line-height: 5rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.437);
}
.goat-overlay{
    text-shadow: none;
}
.banner-paragraph{
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #534c64;
    padding-bottom: 15px;
}
.banner-paragraph i{
    margin-right: 10px;
    color: #F948B2;
}
.buttons{
    margin-top: 15px;
}
.red-btn,.lightblue-btn{
    padding: 20px 40px;
    color: #fff;
    background-color: #ff42a5;
    border: none;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}
.lightblue-btn{
    background-color: #4EC5F7;
}
/* banner section end here */
/* gamer section start here */
.we-gamer{
    display: flex;
    align-items: center;
    background-color: rgb(255,249,252);
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 30px 0;
}
.we-gamer-left{
    width: 60%;
    /* border: 1px solid red; */
}
.we-gamer-left img{
    width: 100%;
}
.we-gamer-right{
    width: 40%;
    text-align: right;
    /* padding-left: 120PX; */
}

.gamer-tittle{
    font-size: 3rem;
    font-weight: 700;
    line-height: 50px;
}
.gamer-tittle-overlay{
    font-size: 3rem;
    text-shadow: none;
}
.gamer-para1{
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    padding: 15px 0;
}
.gamer-para2{
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 35px;
    padding: 5px 0;
}
.gamer-note{
    color: #534C64;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 35px;
}
/* gamer section end here */